@use "sass:color";

.overlay {
  position: absolute;
  top: 0;
  left: 0;
}

.overlayBlockInvisible {
  fill: transparent;
}

.overlayBlockVisible {
  fill: none;
  stroke-width: 1.5px;
  stroke: var(--color);
}

$dice1Color: rgba(157, 249, 255, 1);
$dice2Color: rgba(179, 130, 237, 1);
$mixedColor: color.mix($dice1Color, $dice2Color);

.dice1Color {
  --color: #{$dice1Color};
}

.dice2Color {
  --color: #{$dice2Color};
}

.mixedColor {
  --color: #{$mixedColor};
}

.dice1ColorShadow {
  flood-color: $dice1Color;
}

.dice2ColorShadow {
  flood-color: $dice2Color;
}

.mixedColorShadow {
  flood-color: $mixedColor;
}
